*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: red;
    display: flex;
    justify-content: start;
}
h1{
    margin-left: 2rem;
    margin-top: 1.3rem;
}
body{
   
    background-image: url(/Control-C-Netflix/img/netflix-library.jpg);
}
main{
    display: flex;
    justify-content: center;
}
.flex{
    padding: 3rem;
    background-color: rgba(8, 7, 7, 0.795);
    color: white;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 7px;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
form input{
    padding: 0.6rem;
    margin-bottom: 1rem;
    border: none;
    background-color: rgba(82, 81, 80, 0.582);
    border-radius: 3px;
    color: white;
}
form button{
    padding: 0.7rem;
    background-color: red;
    border: none;
    margin-bottom: 0.3rem;
    color: white;
    font-size: medium;
    cursor: pointer;
    border-radius: 3px;
}
label{
    font-size: small;
    color: rgb(160, 158, 158);

}
#lembra{
    color: rgb(160, 158, 158);
    cursor: pointer;
}
a{
    color: rgb(160, 158, 158);
    text-decoration:none;
    font-size: small;
    cursor: pointer;
    
}
#ajuda{
    margin-left: 2.4rem;
}
a:hover{
    text-decoration:underline ;
    color: white;
}
div.mais{
    margin-top: 10rem;
    width: 52%;
    
}
#acesse{
    margin-left: 0.2rem;
    color: rgb(233, 231, 231);
}

